@import "main.css";

.projects-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(200px, auto);
}

.card {
  padding: 10px;
}

.project-title {
  font-size: 1.5em;
  text-align: center;
  border-bottom: solid 1px gray;
  padding: 10px;
  margin: 10px 0;
}

.project-details {
  list-style-type: square;
}

/* In case of tablet users: */
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .projects-holder {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

/* In case of mobile users: */
@media screen and (max-width: 700px){
  .projects-holder {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
  }
}